Django==5.2.12
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
psycopg2-binary==2.9.11
python-dotenv==1.2.2
gunicorn==23.0.0
asgiref
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
pandas==2.2.3
scikit-learn==1.6.0
numpy==2.2.1
matplotlib==3.10.0
joblib==1.4.2
requests==2.32.3